rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /products/{docId} {
      allow read: if true;
    }

    match /categories/{docId} {
      allow read: if true;
    }

    match /gallery/{docId} {
      allow read: if true;
    }

    match /public_tracking/{orderId} {
      allow read: if true;
      allow create: if request.resource.data.id == orderId;
    }

    match /orders/{orderId} {
      allow read, write: if false;
    }
  }
}
