node_modules/
backend/node_modules/
frontend/node_modules/
.env
frontend/.env
backend/.env
backend/config/serviceAccountKey.json

# Build and Temp folders
frontend/dist/
frontend/mini_dist/
frontend/.firebase/
dist/
node_modules/
.DS_Store
